*~
#*#
*pycache*
*.txt
*.sql
res/
txt/
src/test*
test-*
utils/old
cw_server
cw_client
cw_webui
.env
Pipfile.lock
refcompress
*out
.Rproj.user
nim*
.bashrc
small_test*.*
benchmark/benchmark_downsample.fasta